.Erreur{
	background-color: inherit; 
	border: none ; 
	padding: 0; 
	font-size: 16px;
}

#Bloc_Photo{
	border: 1px solid black !important; 
	padding: 2px;
	height: 150px;
	width: 150px;
}

input:invalid+span:after {
  content: '✖';
  color: red;
  padding-left: 5px;

}

input:valid+span:after {
  content: '✓';
  color: green;
  padding-left: 5px;
  font-weight: bolder;
}

.imgbouba {
	width: 75px;
	height: 50px;
}


